<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/perTag</taglib-uri>
      <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/script</taglib-uri>
      <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>AddPersion</servlet-name>
    <servlet-class>com.student.servlet.persion.AddPersion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPersion</servlet-name>
    <url-pattern> /AddPersion </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePersionIndex</servlet-name>
    <servlet-class>com.student.servlet.persion.DeletePersionIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersionIndex</servlet-name>
    <url-pattern> /DeletePersionIndex </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePersion</servlet-name>
    <servlet-class>com.student.servlet.persion.DeletePersion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePersion</servlet-name>
    <url-pattern>/DeletePersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindPersion</servlet-name>
    <servlet-class>com.student.servlet.persion.FindPersion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPersion</servlet-name>
    <url-pattern>/FindPersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFindPersion</servlet-name>
    <servlet-class>com.student.servlet.persion.SimpleFindPersion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SimpleFindUsers</servlet-name>
    <servlet-class>com.student.servlet.user.SimpleFindUsers</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>SimpleFindUsers</servlet-name>
    <url-pattern>/SimpleFindUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SimpleFindPersion</servlet-name>
    <url-pattern>/SimpleFindPersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePersion</servlet-name>
    <servlet-class>com.student.servlet.persion.UpdatePersion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersion</servlet-name>
    <url-pattern>/UpdatePersion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEducation</servlet-name>
    <servlet-class>com.student.servlet.education.AddEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEducation</servlet-name>
    <url-pattern> /AddEducation </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEducationIndex</servlet-name>
    <servlet-class>com.student.servlet.education.DeleteEducationIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEducationIndex</servlet-name>
    <url-pattern> /DeleteEducationIndex </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEducation</servlet-name>
    <servlet-class>com.student.servlet.education.DeleteEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEducation</servlet-name>
    <url-pattern>/DeleteEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindEducation</servlet-name>
    <servlet-class>com.student.servlet.education.FindEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEducation</servlet-name>
    <url-pattern>/FindEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFindEducation</servlet-name>
    <servlet-class>com.student.servlet.education.SimpleFindEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFindEducation</servlet-name>
    <url-pattern>/SimpleFindEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEducation</servlet-name>
    <servlet-class>com.student.servlet.education.UpdateEducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEducation</servlet-name>
    <url-pattern>/UpdateEducation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTechnology</servlet-name>
    <servlet-class>com.student.servlet.technology.AddTechnology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTechnology</servlet-name>
    <url-pattern> /AddTechnology </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTechnologyIndex</servlet-name>
    <servlet-class>com.student.servlet.technology.DeleteTechnologyIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTechnologyIndex</servlet-name>
    <url-pattern> /DeleteTechnologyIndex </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTechnology</servlet-name>
    <servlet-class>com.student.servlet.technology.DeleteTechnology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTechnology</servlet-name>
    <url-pattern>/DeleteTechnology</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindTechnology</servlet-name>
    <servlet-class>com.student.servlet.technology.FindTechnology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTechnology</servlet-name>
    <url-pattern>/FindTechnology</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFindTechnology</servlet-name>
    <servlet-class>com.student.servlet.technology.SimpleFindTechnology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFindTechnology</servlet-name>
    <url-pattern>/SimpleFindTechnology</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTechnology</servlet-name>
    <servlet-class>com.student.servlet.technology.UpdateTechnology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTechnology</servlet-name>
    <url-pattern>/UpdateTechnology</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUsers</servlet-name>
    <servlet-class>com.student.servlet.user.AddUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUsers</servlet-name>
    <url-pattern>/AddUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUsers</servlet-name>
    <servlet-class>com.student.servlet.user.DeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUsers</servlet-name>
    <url-pattern>/DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUsers</servlet-name>
    <servlet-class>com.student.servlet.user.UpdateUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsers</servlet-name>
    <url-pattern>/UpdateUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindUsers</servlet-name>
    <servlet-class>com.student.servlet.user.FindUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUsers</servlet-name>
    <url-pattern>/FindUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home3</servlet-name>
    <servlet-class>com.student.servlet.Home3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home3</servlet-name>
    <url-pattern>/Home3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.student.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Submit</servlet-name>
    <servlet-class>com.student.servlet.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPosition</servlet-name>
    <servlet-class>com.student.servlet.position.AddPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPosition</servlet-name>
    <url-pattern>/AddPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindPosition</servlet-name>
    <servlet-class>com.student.servlet.position.FindPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPosition</servlet-name>
    <url-pattern>/FindPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePosition</servlet-name>
    <servlet-class>com.student.servlet.position.UpdatePosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePosition</servlet-name>
    <url-pattern>/UpdatePosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePositionIndex</servlet-name>
    <servlet-class>com.student.servlet.position.DeletePositionIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePositionIndex</servlet-name>
    <url-pattern>/DeletePositionIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistUsers</servlet-name>
    <servlet-class>com.student.servlet.user.RegistUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistUsers</servlet-name>
    <url-pattern>/RegistUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindX</servlet-name>
    <servlet-class>com.student.servlet.x.FindX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindX</servlet-name>
    <url-pattern>/FindX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleFindPosition</servlet-name>
    <servlet-class>com.student.servlet.position.SimpleFindPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleFindPosition</servlet-name>
    <url-pattern>/SimpleFindPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUserServlet</servlet-name>
    <servlet-class>com.student.servlet.checkUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUserServlet</servlet-name>
    <url-pattern>/checkUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home1</servlet-name>
    <servlet-class>com.student.servlet.Home1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home1</servlet-name>
    <url-pattern>/Home1</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Exit</servlet-name>
    <servlet-class>com.student.servlet.Exit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
  
  
   <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.student.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  
   <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.student.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
     <dispatcher>REQUEST</dispatcher> 
  </filter-mapping> 
  
</web-app>